.chat-window-wrapper {
  height: 100vh;
  flex: 1;
  padding: 2rem 0 1rem;
}

.chat-window-wrapper .room-empty {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 0 1.6rem;
  font-size: var(--font-size-lg);
  line-height: 2.2rem;
}

.chat-window-wrapper .room-empty .choose-room {
  cursor: pointer;
  color: var(--primary-color);
}

.chat-window-wrapper .logo-spin {
  width: 100px;
  height: 100px;
}

@media only screen and (max-width: 768px) {
  .chat-window-wrapper {
    padding-top: 1rem;
  }
}
