body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  letter-spacing: 0.02rem;
}

#root {
  --primary-color: #00c8ff;
  --primary-bg-color: #cdf8ff;
  --primary-bg-btn-color: #ebfcff;
  --border-color: #d0d0d0;

  --font-size: 1.3rem;
  --font-size-lg: 1.6rem;
  --font-size-sm: 1rem;
}
